@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/*Estilos generales*/
body {
    background-image: url(https://wallpapers.com/images/hd/dragon-ball-z-c7kbn007qmt9qrb0.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: "Quicksand", sans-serif;
    color: rgb(0, 0, 0);
}

nav {
    background-color: rgb(0, 0, 0);
    border-bottom: 12px solid #d19a0e;
    display: flex;
}

.inicio {
    text-decoration: none;
    margin: 1%;
    padding: 9px 9px;
    color: rgb(191, 40, 62);
}

/*estilos para el logo*/
.logotipo {
    width: 120px;
    
    padding: 0 10px;
}

main {
    background-color: rgba(229, 210, 210);
}

main> h1 {
    text-align: center;
}

.personajes-name {
    text-decoration: none;
    color: orange;
    font-family: "Jacques Francois Shadow", serif;
}

#personajes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /*sirve para los espacios de las cards*/
}

.personajes-card {
    background-color: rgb(219, 183, 93);
    color: rgb(255, 255, 255);
    border: 3px solid #000000;
    border-radius: 10px;
    width: 250px;
    height: 620px;
    padding: 0px 20px 10px;
    
    
}

.name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.race-info, .gender-info, .planet-info {
    font-weight:bold;
    color:black;
    font-family: "Fascinate Inline", system-ui;
    
}
  
.name-container > p {
    font-size: 24px;
    font-family: "Jacques Francois Shadow", serif;
   
}

.img-card {
    /*width: 100%;
    height: auto;*/
    width: 200px;
  height: 400px;
}

.personajes-card > img {
    width: 200px;
}
  
.ki {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}