#planetas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /*sirve para los espacios de las cards*/
}

.planet-card {
    border: 1px solid #aaa;
    border-radius: 10px;
    width: fit-content;
    padding: 0px 20px 10px;
  }
  
.name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.name-container > p {
    font-size: 24px;
    font-weight: bold;
}
  
.planet-card > img {
    width: 200px;
}
  
.ki {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}