@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/*Estilos generales*/
body {
    background-image: url(https://wallpapers.com/images/hd/dragon-ball-z-c7kbn007qmt9qrb0.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: "Quicksand", sans-serif;
}
/*navegacion - barra de menu*/
nav {
    background-color: rgb(23, 20, 46);
    
}

.inicio {
    text-decoration: none;
    color: white;
}

/*estilos para el logo*/
.logotipo {
    width: 100px;
    padding: 0 10px;
}
/*estilos a el contenedor de informacion*/
.presentacion, 
container-info {
    text-align: justify;
}
/*estilo general del div*/
.presentacion {
    display : flex;
    flex-direction : row;
}
/*clase container estilos*/
.container-info {
    background: rgba(3, 2, 20, 0.92);
    color: rgb(230, 218, 218);
    border: 1px;
    width: 100%;
    padding: 20px;
}


.imagen-header {
    background-image: url(https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=1200,height=675/catalog/crunchyroll/26079ab060401d8a76039e985d63a3e9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 80%;

}

.sinopsis {
    color: rgb(202, 143, 88);
}

.botones {
    background: rgba(1, 1, 16, 0.98);
    background-image: linear-gradient(to top, #22577a, transparent);
    color: rgb(230, 218, 218);
    width: 100%;
    height: 2000px;
    padding: 5%;
}


.personajes,
.esferas,
.lugares,
.especies {
    display: block;
    box-shadow: 10px 10px 10px #5c66cf;
    background-color: rgba(233, 238, 241, 0.98);
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    height: 60%;
    padding: 20px;
    margin: 30px;
}

.btn-personajes {
    background-color: rgba(24, 224, 77, 0.699);
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 200px;
    height: 20px;
    padding: 21px;
    margin: 10px auto;
    border-radius: 20px;
    border: none;
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;
}
/*estoy avanzando con el figma okey */
.btn-especies {
    background-color: rgba(37, 24, 224, 0.699);
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 200px;
    padding: 21px;
    height: 20px;
    margin: 30px auto;
    border-radius: 20px;
    border: none;
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;
}

.btn-esferas {
    background-color: rgba(224, 131, 24, 0.699);
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 200px;
    height: 20px;
    padding: 21px;
    margin: 10px auto;
    border-radius: 20px;
    border: none;
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;
}

.btn-lugares {
    background-color: rgba(224, 24, 47, 0.699);
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 200px;
    height: 20px;
    padding: 20px;
    margin: 10px auto;
    border-radius: 20px;
    border: none;
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;
}

.card-personajes,
.card-esferas,
.card-especies,
.card-lugares {
    border: 1px solid#22577a;
    border-radius: 3px;
    height: 300px;
    width: 200px;
    padding: 0px 20px 10px;
    margin: 20px;
}
.ver-mas {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #22577a;
    border-radius: 4px;
    padding: 4px;
    height: 10px;
    text-align: center;
}

.ver-mas:hover {
    background-color: rgb(96, 80, 211);
    color: rgb(255, 255, 255);
}

#personajes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /*sirve para los espacios de las cards*/
}

.personajes-card {
    border: 1px solid #aaa;
    border-radius: 10px;
    width: fit-content;
    padding: 0px 20px 10px;
  }
  
.name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.name-container > p {
    font-size: 24px;
    font-weight: bold;
}
  
.personajes-card > img {
    width: 200px;
}
  
.ki {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}